body{
    font: 20px Arial, sans-serif;
}

.navbar{
    background-color: #00ff15b6;
}

.quem-somos{
    background-color: #00c8ff91;
    color: white;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: #7de7a6;
}

.bg-footer{
    background-color: black;
    color: white;
}